---
import FormationItem from "./FormationItem.astro"

const FORMATION = [
    {
        date : "2011 - 2022",
        title : "Bachiller en Humanidades",
        description : "Unidad Educativa San Pedro Poveda",
    },
    {
        date : "2019 - 2022",
        title : "Tecnico en Aplicaciones y Desarrollo Web",
        description : "Unidad Educativa San Pedro Poveda"
        
    },
    {
        date : "2023 - Actualidad",
        title : "Licenciado en Informatica con mencion en Desarrollo de Software",
        description : "Universidad Mayor de San Andres"
    }
]    
--- 


<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        FORMATION.map(formation => (
        <li class="mb-10 ms-6">
            <FormationItem {...formation} />
            </li>    
    ))   
    }     
</ol>

