<header 
    class="flex justify-center items-center py-5 xl:w-[1120px] mx-auto text-center text-s">
    <nav class="flex flex-row gap-4 opacity-80">
        <a href="#projects">Proyectos</a>
        <a href="#skills">Habilidades</a>
        <a href="#formation">Formación</a>
        <a href="#about">Sobre mi</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>
